/* Wider, easier-to-grab scrollbars */
::-webkit-scrollbar {
    width: 22px !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888 !important;
    border-radius: 12px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }
  
  ::-webkit-scrollbar-track {
    background: #e0e0e0 !important;
  }
  