html, body, * {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"><circle cx="32" cy="32" r="30" fill="white" stroke="black" stroke-width="4"/></svg>') 32 32, auto !important;
  }